@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');
*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom right, #9799c8, #6590A2);
    text-align: center;
}

@media (min-width: 500px) {
    #root {
        border-radius: 5px;
        max-height: 550px;
        max-width: 350px;
    }
}

#root {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background: #1E384C;
    transition: background-color .3s;
}

button {
    z-index: 20;
    position: absolute;
    display: block;
    width: 70%;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 1.5em;
    padding: .6em;
    color: rgba(#fff, 0.8);
    font-size: 1.1em;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid rgba(#fff, 0.8);
    border-radius: 2em;
    outline: none;
    transition: .2s background, .4s .3s transform, .4s .3s opacity;
    cursor: pointer;
    &:hover {
        background: #fff;
        color: currentColor;
    }
}